name: Build PHP Images

on:
  # Uncomment below for testing purposes
  pull_request:
  push:
   branches:
     - main

jobs:
  buildx:
    runs-on: ubuntu-24.04
    env:
      TERM: xterm
    strategy:
      fail-fast: false
      matrix:
        include:
          - image: php
            tag: 8.3-fpm-4
            context: images/8.3-fpm
          - image: php
            tag: 8.3-apache-4
            context: images/8.3-apache
          - image: php
            tag: 8.2-fpm-4
            context: images/8.2-fpm
          - image: php
            tag: 8.2-apache-4
            context: images/8.2-apache
          - image: php
            tag: 8.1-fpm-4
            context: images/8.1-fpm
          - image: php
            tag: 8.1-apache-4
            context: images/8.1-apache
          - image: php
            tag: 8.0-fpm-4
            context: images/8.0-fpm
          - image: php
            tag: 8.0-apache-4
            context: images/8.0-apache
          - image: php
            tag: 7.4-fpm-4
            context: images/7.4-fpm
          - image: php
            tag: 7.4-apache-4
            context: images/7.4-apache
          - image: php
            tag: 7.3-fpm-4
            context: images/7.3-fpm
          - image: php
            tag: 7.3-apache-4
            context: images/7.3-apache

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2
        with:
          install: true
      - name: Available platforms
        run: echo ${{ steps.buildx.outputs.platforms }}
      # Sets our edge tag if on PR.
      - name: Set tag suffix
        id: pr
        if: ${{ github.event_name == 'pull_request' }}
        run: echo "tag_suffix=-edge" >> "$GITHUB_OUTPUT"
      # Build our images.
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push devwithlando/${{ matrix.image }}:${{ matrix.tag }}${{ steps.pr.outputs.tag_suffix }}
        uses: docker/build-push-action@v4
        with:
          context: ${{ matrix.context }}
          platforms: linux/amd64,linux/arm64
          push: true
          tags: devwithlando/${{ matrix.image }}:${{ matrix.tag }}${{ steps.pr.outputs.tag_suffix }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      # Handle Lando Install to test the images after build
      # We are hardcoding the dtaa normally included in the matrix
      # due to how this testing is setup
      - name: Install node 18
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          registry-url: https://registry.npmjs.org
          cache: npm
      - name: Install NPM dependencies
        run: npm clean-install --production --prefer-offline --frozen-lockfile
      - name: Bundle Deps
        uses: lando/prepare-release-action@v3
        with:
          lando-plugin: true
          version: dev
          sync: false
      - name: Setup lando 3-edge-slim
        uses: lando/setup-lando@v3
        with:
          lando-version: 3-edge-slim
          config: |
            setup.skipCommonPlugins=true
            setup.plugins.@lando/php=/home/runner/work/php/php
          telemetry: false
      # Test newly built images.
      - name: Test Edge Images on PR
        uses: lando/run-leia-action@v2
        if: ${{ github.event_name == 'pull_request' }}
        with:
          leia-test: "./examples/images-edge/${{ matrix.tag }}/README.md"
      - name: Test Stable Images on Push
        uses: lando/run-leia-action@v2
        if: ${{ github.event_name == 'pull_request' }}
        with:
          leia-test: "./examples/images-stable/${{ matrix.tag }}/README.md"
